<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS Header Components</title>
    <meta name="description" content="All CSS3 layout for header component" />
    <meta name="author" content="Muhammed Soliman" />
    <meta
      name="keywords"
      content="HTML5, Aria-attributes, Accessibility and CSS3"
    />
    <link rel="canonical" href="https://maindomain.com" />
    <link rel="stylesheet" href="header.css" />
  </head>
  <body>
    <a class="skip-link" href="#main-content">Skip to main content</a>
    <!-- ================================================================================== -->
    <!-- ========================= Static Header Component ================================ -->
    <!-- ================================================================================== -->
    <h2>Static Header Component</h2>
    <header class="main-header" role="banner">
      <div class="main-header__wrapper">
        <a class="main-header__logo" href="/"> Company name </a>
      </div>
      <button
        class="main-header__btn-hamburger button button--primary"
        type="button"
        aria-controls="mobile-menu"
        aria-expanded="false"
        aria-label="Mobile Toggle Menu Button"
        id="hamburger-btn"
      >
        <svg
          viewBox="0 0 24 24"
          width="24"
          height="24"
          aria-hidden="true"
          focusable="false"
          fill="none"
          stroke="currentColor"
        >
          <path d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
      <nav
        class="main-header__nav"
        aria-label="Main Navigation Menu"
        id="mobile-menu"
      >
        <ul class="main-header__list">
          <li class="main-header__list-item">
            <a class="main-header__link" href="#documentation">Documentation</a>
          </li>
          <li class="main-header__list-item">
            <a class="main-header__link" href="#pricing">Pricing</a>
          </li>
          <li class="main-header__list-item">
            <a class="main-header__link" href="#contacts">Contacts</a>
          </li>
          <li class="main-header__list-item">
            <a class="main-header__link" href="#blog">Blog</a>
          </li>
        </ul>
      </nav>
      <div class="main-header__cta">
        <button
          class="main-header__btn button button--primary"
          type="button"
          aria-label="Signup for free account"
        >
          Signup
        </button>
      </div>
    </header>
    <hr />
    <!-- ================================================================================== -->
    <!-- ========================= Sticky Header Component ================================ -->
    <!-- ================================================================================== -->
    <header class="header second" role="banner">
      <div class="header__wrapper container">
        <a class="header__logo" href="/" aria-label="Brand Name"> Logo </a>
        <button
          class="header__button header__toggle-btn"
          id="stiky-toggle-btn"
          type="button"
          aria-controls="mobile-menu"
          aria-expanded="false"
          aria-label="Mobile Toggle Button"
        >
          <span class="hamburger">
            <span class="hamburger__line"></span>
            <span class="hamburger__line"></span>
            <span class="hamburger__line"></span>
          </span>
        </button>
        <nav class="header__nav" aria-label="Main Navigation">
          <ul class="header__list">
            <li class="header__list-item">
              <a class="header__link" href="#features">Features</a>
            </li>
            <li class="header__list-item">
              <a class="header__link" href="#pricing">pricing</a>
            </li>
            <li class="header__list-item">
              <a class="header__link" href="#contacts">contacts</a>
            </li>
            <li class="header__list-item">
              <a class="header__link" href="#blog">Blog</a>
            </li>
          </ul>
        </nav>
        <div class="header__cta">
          <button
            type="button"
            class="header__button header__sign-btn"
            aria-label="Signup for free account"
          >
            Signup
          </button>
        </div>
      </div>
    </header>
    <main id="main-content">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus,
        necessitatibus consequatur nemo praesentium illum sequi esse nesciunt
        ratione magni non corporis numquam ab repudiandae veritatis quam minima
        error, dolor porro! In vitae incidunt aut voluptates, repellat
        reprehenderit nesciunt modi quos? Repellat, voluptatibus quisquam
        officiis nostrum maiores necessitatibus quis, voluptate eveniet nulla
        accusantium aliquam sint quo aut, facere modi fugiat sunt. Obcaecati
        accusantium placeat aliquid eum iusto illum consectetur quis repellendus
        dolorum vitae inventore ipsa dignissimos eos velit, atque quas vel ut
        possimus. Deleniti commodi assumenda ad sed voluptas, placeat
        laudantium? Veniam assumenda voluptas repellendus? Adipisci perferendis
        iste reiciendis. Autem aspernatur porro ducimus sunt, qui nesciunt nihil
        possimus, vero soluta, necessitatibus voluptates voluptatibus quae
        consectetur cupiditate maiores ullam. Incidunt, debitis doloremque!
        Voluptas nulla doloribus totam quia nam repudiandae distinctio
        voluptatibus placeat soluta, quam unde, doloremque aperiam consequuntur?
        Cumque molestiae repellat obcaecati et, excepturi soluta facere,
        voluptatem similique sequi ratione quasi provident. Soluta quia sed
        aliquid quod consequuntur est at consectetur provident aperiam.
        Obcaecati, eveniet officiis animi culpa consequuntur officia neque
        eligendi eius quia aliquam, repellat placeat sunt. Aspernatur aut
        deleniti consectetur. Dolorem rem molestiae numquam, cumque rerum
        consequuntur, cupiditate atque voluptatum accusamus ut eos quam. Sunt
        nesciunt magni quos itaque nulla quaerat, perferendis facere culpa
        dolorem repellendus reprehenderit aliquam error nisi. Voluptates
        pariatur, sequi debitis molestias ea nesciunt aperiam aspernatur
        voluptate laborum eos mollitia temporibus quis, nihil distinctio
        officiis fuga, sit esse. Obcaecati enim expedita odit, magni velit natus
        in ipsum. Consequatur corrupti eos veniam impedit enim maiores omnis,
        quis, aliquid expedita harum tenetur nobis laboriosam eligendi.
        Perspiciatis itaque omnis, reprehenderit recusandae quidem vero autem
        quod, temporibus fugit at tempora incidunt! Eveniet et veniam unde earum
        doloremque modi quo ad iusto? Quae ipsa, commodi voluptas in sed
        assumenda tenetur atque officia accusantium quo fugit voluptate
        exercitationem, impedit optio mollitia fugiat maiores? Fugiat, labore
        nihil perspiciatis voluptatum itaque, cum quam quas reiciendis ipsam
        reprehenderit mollitia. Odio hic dolore itaque similique, nam non quo
        corrupti cupiditate labore molestias quis sint veniam rerum ab.
        Corporis, eveniet id ipsa dicta provident dolor nam ab voluptates
        repellendus excepturi sapiente quis placeat explicabo natus. Nam ex
        distinctio ducimus sed, quo odio? Amet est laudantium a atque eveniet?
        Itaque, vero eaque accusantium reprehenderit placeat quia officiis
        distinctio reiciendis aut hic neque numquam aliquid adipisci aperiam.
        Quisquam, officia voluptatem odio itaque et dolorum consequuntur
        expedita impedit repellat nihil? Quo. Quasi, nihil? Voluptates officia
        culpa, expedita tempora blanditiis tenetur nobis, ratione accusantium
        dicta ullam commodi. Aut eius reprehenderit hic dolor totam quod neque
        accusamus commodi quam? Sint fuga dolorum labore. Fugiat atque,
        repudiandae enim eveniet tenetur quod dolore ipsam quisquam temporibus
        impedit consequuntur sint totam dolorem optio non voluptate tempore odio
        modi voluptatum eaque odit sequi quos fugit libero. Eum. Quas et, ullam
        minima deleniti possimus ipsum quae voluptatem rerum porro beatae quos
        vitae ipsam repudiandae repellat dolorem? Perferendis dolorum explicabo
        quasi repudiandae, soluta maxime repellat officiis autem labore cum.
        Eius nulla laudantium magnam recusandae, quis est placeat debitis,
        voluptate sapiente quisquam labore, possimus non. Asperiores ea libero
        fugit alias corrupti repellendus nisi odit architecto eius, cupiditate
        doloribus, pariatur nulla! Cumque iusto itaque incidunt, quo libero
        magnam nulla fugiat eligendi officiis corporis quaerat et ducimus dicta
        architecto. Laboriosam aut, cum quod distinctio reiciendis alias
        delectus ab amet. Adipisci, autem tempora? Rem nesciunt maxime expedita
        voluptatem dolorum natus, quia quam. Et fugiat molestiae rerum quod
        excepturi. Mollitia recusandae veritatis eaque nihil odio odit illum,
        sed voluptatum libero voluptates temporibus laboriosam aut? Sapiente
        similique culpa, beatae temporibus facere dicta nesciunt! Voluptatibus
        eaque ea eum quia minus nobis beatae, eligendi autem tempore libero
        ducimus aliquid, voluptate, ipsa molestias at in consequatur assumenda
        officia? Ab distinctio sint reprehenderit quae totam expedita, nesciunt
        exercitationem qui labore, quibusdam aperiam dolorem et id? Doloremque
        optio impedit, quasi obcaecati perspiciatis necessitatibus quo
        laudantium facere, provident placeat ducimus hic! Quis, doloribus
        accusamus, necessitatibus expedita similique odit quo eaque animi,
        molestiae blanditiis earum! Vel sunt nihil nesciunt. Temporibus ex
        voluptatem, vero, quasi dolorem ducimus reprehenderit nobis consectetur,
        nemo adipisci culpa. Velit ex aliquam laboriosam esse. Quibusdam nobis
        cumque harum sunt odit temporibus quas tenetur, sequi excepturi ratione
        voluptatem asperiores aspernatur cupiditate totam dolore dicta in
        similique, voluptates suscipit provident nam? Nostrum ipsa nemo magnam
        tempora! Natus a porro iure corrupti, excepturi dignissimos in ex
        consectetur voluptatibus aspernatur assumenda consequatur error fugit
        odio recusandae illum autem. Commodi illum odio non aperiam. Natus,
        adipisci. Voluptatem odio necessitatibus ipsam quos, dolorem sint,
        pariatur animi, mollitia eligendi sunt facilis nobis. Dolores nulla
        magni laudantium enim qui ipsam iusto. Rem iure mollitia tempore
        aspernatur minus? Maxime praesentium distinctio aperiam debitis ratione.
        Quisquam eius tenetur quis debitis incidunt totam commodi nemo possimus,
        inventore rerum voluptas dolores reprehenderit eligendi laboriosam
        explicabo molestiae ducimus molestias deserunt esse eos! Quam ea iusto
        quae odio molestiae quis numquam animi? Nam illo optio ab eveniet iusto
        quibusdam enim vitae numquam cupiditate impedit tempora vero earum, eos
        soluta iste ducimus laboriosam accusantium? Sequi voluptas asperiores
        pariatur at voluptatem, maxime, minus officiis magnam saepe sint nisi
        impedit? Molestiae ipsam possimus assumenda! Placeat voluptate ad
        mollitia, dicta nisi id adipisci consequatur excepturi veritatis est!
        Hic, architecto voluptatibus. Debitis dolorem, libero excepturi modi
        laborum fugiat maxime. Velit alias rerum eum quibusdam nihil illum ipsa
        inventore quidem, at praesentium sit corporis cumque labore
        exercitationem, earum voluptatibus. Ratione placeat magnam iste natus
        corporis tempore ipsam modi voluptatibus? Accusamus fugit id minima vel,
        nam esse suscipit debitis voluptatum eligendi perspiciatis explicabo
        illum vero, repellendus tempora accusantium repellat dicta. Officia illo
        facilis illum. Voluptates, adipisci animi voluptatum minima ipsum
        accusantium quis doloribus ad modi doloremque, molestias non laborum
        inventore numquam perferendis necessitatibus labore corporis itaque
        tempora? Culpa, autem voluptatibus? Cum quo veritatis obcaecati facere,
        qui sapiente perferendis recusandae quia autem expedita dolorem id quod
        praesentium fuga tenetur et aperiam reiciendis ullam, exercitationem
        maxime, excepturi ea. Ullam sequi facere quia? In, sequi, rem ipsum
        eveniet temporibus exercitationem quae cum explicabo rerum placeat
        voluptas ipsa. Odio blanditiis velit voluptas molestias. Ducimus
        consequatur autem nam facilis repudiandae, hic architecto aliquid soluta
        reprehenderit? Officia corrupti nulla blanditiis nobis error similique
        natus ratione? Quos nulla fugiat deserunt dolore, accusantium voluptatem
        ipsam porro doloremque minus, ut soluta corrupti, dolor nemo beatae.
        Praesentium ad aspernatur labore. Accusantium ratione in blanditiis
        voluptatibus totam a, facere aperiam culpa rem incidunt nesciunt
        doloremque perspiciatis enim natus iste numquam, fugit omnis modi? Vero
        temporibus soluta voluptatum optio laboriosam odio error. Non nemo,
        nobis perspiciatis ad doloribus ut, neque fugiat quam earum quo sit
        quidem. In provident officia ut, explicabo quasi cum quibusdam ad
        laudantium vitae pariatur suscipit, odio dolorem reiciendis. Sunt maxime
        excepturi eveniet provident aspernatur, iusto fugit libero, repellendus
        aperiam veritatis porro consequatur. Laborum nesciunt minima in,
        accusamus quae eligendi harum corrupti exercitationem architecto quam
        dignissimos sed earum vero. Quos est autem praesentium delectus
        consequuntur temporibus repudiandae porro, explicabo corporis ipsam
        ullam veritatis nostrum a, cupiditate aliquam, animi laudantium
        aspernatur non quasi aliquid optio? Exercitationem sunt animi rem est!
        Possimus quidem minima illum distinctio nulla sequi sed necessitatibus,
        consequuntur labore, iusto eligendi porro atque debitis repellat
        obcaecati. Recusandae facilis voluptatibus accusantium ad unde error
        provident ipsum natus suscipit velit. Asperiores beatae rerum in
        quisquam, facilis fugit! Illum molestias temporibus numquam. Velit
        dignissimos aperiam mollitia numquam tenetur doloremque, voluptatum
        tempore in modi necessitatibus reiciendis fugiat rem ea iure obcaecati
        pariatur.
      </p>
    </main>
    <script src="header.js"></script>
  </body>
</html>
