<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS Header Components</title>
    <meta name="description" content="All CSS3 layout for header component" />
    <meta name="author" content="Muhammed Soliman" />
    <meta
      name="keywords"
      content="HTML5, Aria-attributes, Accessibility and CSS3"
    />
    <link rel="canonical" href="https://maindomain.com" />
    <link rel="stylesheet" href="header.css" />
  </head>
  <body>
    <a class="skip-link" href="#main-content">Skip to main content</a>
    <!-- ================================================================================== -->
    <!-- ========================= Static Header Component ================================ -->
    <!-- ================================================================================== -->
    <h2>Static Header Component</h2>
    <header class="main-header" role="banner">
      <div class="main-header__wrapper">
        <a class="main-header__logo" href="/"> Company name </a>
      </div>
      <button
        class="main-header__btn-hamburger button button--primary"
        type="button"
        aria-controls="mobile-menu"
        aria-expanded="false"
        aria-label="Mobile Toggle Menu Button"
        id="hamburgerBtn"
      >
        <svg
          viewBox="0 0 24 24"
          width="24"
          height="24"
          aria-hidden="true"
          focusable="false"
          fill="none"
          stroke="currentColor"
        >
          <path d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
      <nav
        class="main-header__nav"
        aria-label="Main Navigation Menu"
        id="mobile-menu"
      >
        <ul class="main-header__list">
          <li class="main-header__list-item">
            <a class="main-header__link" href="#documentation">Documentation</a>
          </li>
          <li class="main-header__list-item">
            <a class="main-header__link" href="#pricing">Pricing</a>
          </li>
          <li class="main-header__list-item">
            <a class="main-header__link" href="#contacts">Contacts</a>
          </li>
          <li class="main-header__list-item">
            <a class="main-header__link" href="#blog">Blog</a>
          </li>
        </ul>
      </nav>
      <div class="main-header__cta">
        <button
          class="main-header__btn button button--primary"
          type="button"
          aria-label="Signup for free account"
        >
          Signup
        </button>
      </div>
    </header>
    <hr />
    <!-- ================================================================================== -->
    <!-- ========================= Sticky Header Component ================================ -->
    <!-- ================================================================================== -->
    <header class="header sticky" role="banner">
      <div class="header__wrapper container">
        <a class="header__logo" href="/" aria-label="Brand Name"> Logo </a>
        <button
          class="header__button header__toggle-btn"
          id="stiky-toggle-btn"
          type="button"
          aria-controls="mobile-menu"
          aria-expanded="false"
          aria-label="Mobile Toggle Button"
        >
          <span class="hamburger">
            <span class="hamburger__line"></span>
            <span class="hamburger__line"></span>
            <span class="hamburger__line"></span>
          </span>
        </button>
        <nav class="header__nav" aria-label="Main Navigation">
          <ul class="header__list">
            <li class="header__list-item">
              <a class="header__link" href="#features">Features</a>
            </li>
            <li class="header__list-item">
              <a class="header__link" href="#pricing">pricing</a>
            </li>
            <li class="header__list-item">
              <a class="header__link" href="#contacts">contacts</a>
            </li>
            <li class="header__list-item">
              <a class="header__link" href="#blog">Blog</a>
            </li>
          </ul>
        </nav>
        <div class="header__cta">
          <button
            type="button"
            class="header__button header__sign-btn"
            aria-label="Signup for free account"
          >
            Signup
          </button>
        </div>
      </div>
    </header>
    <main id="main-content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo tempore
        dolorum ullam eveniet ratione dicta, delectus reiciendis, consequatur
        eius corporis porro sit, quaerat laborum unde modi architecto
        aspernatur! At, ipsum? Ab repellendus cupiditate, nihil quae, in rerum
        magnam iure nam ipsum amet sapiente vero laudantium. Odit quos impedit
        hic deserunt. Error optio reiciendis suscipit quas libero repudiandae!
        Optio, debitis recusandae! Magni veritatis repudiandae corrupti quis
        eveniet molestiae, provident voluptatibus amet reprehenderit mollitia
        nobis repellendus impedit perspiciatis, dolore deleniti iste id pariatur
        et? Quidem consectetur, assumenda laudantium sequi nam voluptas porro.
        Consectetur hic ipsam minus eos a, voluptates earum facilis molestiae
        nostrum, ut ullam in delectus modi? Provident eius repellendus
        aspernatur delectus, vero commodi alias expedita magnam non quasi sed
        nam? Molestiae qui vel omnis quos animi eaque assumenda quis blanditiis
        voluptatum labore fugit non, sit iste impedit cumque, modi eius. Nihil
        quidem eius odio cumque tempore minima, aliquid harum sint. Eos optio
        neque quasi pariatur dolorem quae impedit, magni quidem cum culpa
        commodi ducimus dolore minus mollitia quos tempore laudantium inventore
        exercitationem maxime! Rerum eaque, dolore repellat nostrum eveniet
        laboriosam? Animi optio explicabo accusamus consectetur hic magni porro
        tempora odit laudantium beatae error, iste, quidem suscipit voluptates,
        facilis aliquid. Soluta ab accusamus exercitationem rerum suscipit totam
        facilis odit possimus eos. Autem inventore voluptas impedit optio iure
        expedita, veritatis hic, sit quo, tenetur quae perspiciatis sunt neque
        natus facilis alias libero eius eligendi amet placeat praesentium
        beatae. A saepe hic tempore. Commodi dolores illo ea obcaecati
        recusandae temporibus dolorem necessitatibus velit porro accusantium
        sequi aperiam, in deserunt. Libero doloremque corporis necessitatibus
        non animi unde nostrum earum? Voluptates explicabo pariatur maiores non?
        Labore eaque non quam fugiat distinctio porro reiciendis iure dolorum,
        vel totam neque. Voluptates molestias debitis perferendis soluta, odio
        id iusto in harum, mollitia dolore praesentium alias fugiat at
        doloribus! Temporibus molestias dolorum nisi voluptate eum quod officiis
        suscipit, reprehenderit voluptates? Amet, omnis exercitationem itaque
        earum corporis aut cum esse quisquam modi mollitia, aperiam in
        doloremque deserunt ut explicabo non. Quos nesciunt quasi placeat
        quibusdam adipisci iure explicabo sunt reiciendis! Vel quaerat quos
        repellendus deserunt molestias, a architecto veritatis assumenda quia
        repellat voluptatum debitis excepturi facere esse perspiciatis deleniti
        sit. Sit optio a hic quasi repudiandae non vitae, dicta aliquid maxime
        architecto veritatis adipisci temporibus itaque, perspiciatis molestiae
        fuga velit quibusdam officia exercitationem nesciunt. Ipsum itaque quis
        ipsa nemo doloribus? Impedit sequi nobis error, libero vitae quidem
        tenetur ratione asperiores a fuga beatae ipsam sint incidunt harum nemo
        in exercitationem. Animi dolorem, aliquid deleniti cumque ducimus vel
        odio molestias quidem. Necessitatibus quas delectus ea aut. Eos incidunt
        tenetur ad harum quidem similique error dicta, unde laboriosam expedita
        recusandae, aspernatur a explicabo perferendis, perspiciatis et dolorum
        aliquam nam assumenda nesciunt? Perspiciatis. Quaerat ad nesciunt
        delectus reprehenderit. Quae aperiam incidunt tempora quam ratione
        libero fugit maxime distinctio molestias ut molestiae nemo quisquam eum
        dolore reiciendis, quis animi rerum tempore voluptates earum repellat.
        Animi quasi laborum beatae non modi architecto ratione quisquam libero
        odio soluta nostrum, exercitationem optio quod quis molestiae aut
        voluptatum inventore aliquid, ipsam error in magni sunt fuga
        consectetur? Labore! Alias aperiam, aliquam quam delectus vero similique
        ducimus facilis et. Exercitationem nemo eaque optio sed at! Repudiandae
        beatae sit saepe mollitia ex error deserunt vel corrupti iste, dolore
        consequatur? Obcaecati. Fuga iste at, tempora atque similique culpa
        repudiandae itaque placeat velit fugit labore porro esse odio in? Autem,
        repellendus! Praesentium qui delectus dolorem aliquid nihil esse
        temporibus? Non, quaerat perferendis! Blanditiis, laudantium optio! Sit
        animi ratione nesciunt architecto voluptate quis dignissimos optio ullam
        aut, iure, alias eligendi quaerat autem hic facere incidunt consequuntur
        vero, blanditiis repellat doloribus porro aspernatur qui. Similique
        dignissimos distinctio dolorem facere? Laborum iusto aperiam odio magni
        quia consectetur aliquam ex nobis quaerat explicabo rem laudantium
        sequi, soluta totam deserunt sapiente dolores, consequuntur beatae
        itaque, nam officia? Fuga quis possimus, vitae minima eaque blanditiis
        incidunt amet in autem repellendus nam voluptas earum, id nesciunt. Quae
        quis odit, hic modi nisi a ipsa numquam amet sed, soluta ducimus. Magni
        maxime est dolore quibusdam iusto neque id cupiditate voluptatum quos!
        Necessitatibus voluptas mollitia nemo nostrum ratione doloremque
        delectus, eum molestias sit blanditiis expedita ad maxime! Quo natus
        voluptatum quod. Voluptatem porro autem consequuntur corporis itaque
        numquam officia saepe reiciendis obcaecati quod facilis labore sapiente
        facere vel veritatis harum perferendis tenetur tempore aspernatur eum,
        eveniet praesentium ad dolorum mollitia. Quasi! Assumenda eius,
        obcaecati doloremque a incidunt qui est porro excepturi eaque nemo nam
        nesciunt quam quidem! Eligendi inventore repellendus provident iure!
        Provident, animi eligendi? Sunt quam mollitia vitae repudiandae id.
        Minus, adipisci unde harum voluptate est at recusandae quidem sapiente,
        quia consequatur sunt. Voluptate, cumque velit quam rem quasi dolor
        nobis, tempora possimus voluptatem commodi amet similique, earum optio
        non? Laboriosam, esse officiis. Suscipit, tenetur eum sed illo commodi
        id ducimus hic. Aspernatur cum, quam voluptate dolorum eius sint nostrum
        nam harum praesentium ipsam mollitia assumenda quis maxime perspiciatis
        rem! Nemo aut consequuntur repudiandae, totam sunt sapiente officiis
        consectetur commodi hic nesciunt obcaecati iusto nostrum veritatis
        laboriosam dolor recusandae deserunt rerum adipisci! Nobis doloribus
        quasi voluptates exercitationem magni inventore consectetur. Sint soluta
        aut similique at inventore eveniet culpa, maxime doloribus aperiam
        perferendis fuga doloremque, assumenda, numquam fugiat nam quos corrupti
        explicabo quisquam incidunt consectetur ratione. Blanditiis fuga nostrum
        consequuntur voluptas. Consequatur aperiam neque unde quidem
        reprehenderit amet distinctio nulla. Quia cumque nesciunt, quae ipsam
        ducimus modi, quasi beatae totam amet corrupti libero aspernatur
        debitis, animi vitae. Voluptates odio obcaecati eius. Eum delectus
        provident laborum animi corporis temporibus, aliquid quaerat, quam est
        amet, sapiente reprehenderit rem quasi libero natus eaque praesentium
        eveniet beatae quia commodi dolores doloribus nihil. Commodi, ad eius.
        Labore, quidem asperiores quas harum perspiciatis veritatis eius sint
        ullam quos. At sunt quibusdam sapiente quisquam assumenda molestiae,
        numquam dolor est aliquam. Consectetur officia repudiandae blanditiis?
        Porro temporibus perspiciatis autem? Itaque accusantium enim assumenda
        est incidunt culpa consequatur ipsum veritatis suscipit, ut officia cum
        repellat earum voluptatem quaerat natus sequi error labore, quos sint
        laborum impedit a accusamus! Obcaecati, consequatur? Quae facilis rem ex
        ea cupiditate, ut praesentium itaque harum deserunt et enim ab qui.
        Repellat, vel eius fuga sunt unde blanditiis quidem amet maxime aut
        dolorum, in aliquid perspiciatis? Obcaecati, magni deserunt quam eius
        qui enim vero illo, nulla autem, soluta et incidunt tenetur. Deserunt
        perspiciatis ex commodi recusandae architecto facilis in provident dolor
        laborum tenetur, accusamus porro vitae. Quisquam dignissimos eius
        dolorem voluptates repudiandae ipsum, adipisci harum ipsa molestiae
        quaerat consequatur fugit ut! Quos velit deleniti incidunt blanditiis
        doloribus, qui eligendi veritatis? Quo sequi voluptatem dicta illo eum!
        Eveniet dolorum saepe vero? Neque omnis voluptatum vitae reprehenderit
        fugit sapiente ducimus perferendis at dolorum? Adipisci quo assumenda
        exercitationem voluptatum minima? Quasi dolorum provident quisquam
        accusamus repellendus numquam veritatis hic? Voluptates odit, reiciendis
        a sapiente, tenetur pariatur voluptas quo rerum ipsam atque repellat
        sint delectus nihil doloremque quis ea sunt cumque eius? Quibusdam
        itaque deleniti alias nam ad consectetur explicabo. Nesciunt id
        exercitationem nemo, cupiditate incidunt corrupti laborum labore nam
        ipsa eum similique odit modi sit, cum architecto earum, reiciendis
        placeat nulla praesentium autem. Error non laudantium animi facere sunt!
        Sunt dolores iste dolorem harum corporis ab. Sunt, autem atque. Dolor
        eius voluptatum quas debitis odio doloribus quam fuga quae nemo cum
        laborum incidunt praesentium pariatur illo iure, veritatis eum. Fugiat
        sapiente unde deserunt incidunt, alias pariatur, laudantium cumque
        corporis ipsam dignissimos quisquam dolorum? Earum distinctio unde hic
        dolores ipsa eius ab tempore officiis, in facere eligendi atque
        inventore voluptatibus. Dicta quidem asperiores voluptatibus optio ab
        excepturi provident ipsam cum deserunt porro itaque fuga, ut odio vero
        dolor molestiae doloremque minima velit a dignissimos maxime nesciunt
        reprehenderit recusandae architecto! Quisquam? Velit sint, amet modi cum
        eligendi tempora vero ratione, quo, magni consequatur nobis magnam!
        Iusto, repellat labore at iure accusamus, eveniet quam omnis amet culpa
        soluta reiciendis, facere quas non. Placeat deleniti incidunt ducimus
        aspernatur molestias quod ab laborum magnam saepe, consectetur, iure
        fuga. Ullam, dicta, quos nemo saepe dolor quibusdam minus officia ut,
        similique voluptates officiis perferendis tenetur maiores. Rem deleniti
        magni totam exercitationem ab repellendus earum dolor saepe deserunt
        neque sint laboriosam veniam sed asperiores molestias, nesciunt sequi
        beatae inventore, ipsa officia soluta facilis hic reprehenderit quas?
        Reprehenderit? Assumenda, iusto modi illum labore asperiores quam
        maiores necessitatibus quia, mollitia, voluptatibus enim! Eligendi sint
        debitis, neque quos repudiandae fugit impedit aperiam nobis ex dolor,
        mollitia nemo. Dolore, laborum repellat. Ratione sapiente minima
        officiis? Voluptatum natus non quia corporis, temporibus consequatur.
        Possimus ad nostrum provident at amet id consequatur quia impedit nemo
        placeat. Aperiam, blanditiis nam accusantium voluptatum natus eligendi?
        Ad ratione voluptate nemo, numquam natus facere id voluptates. Ea
        molestias officiis odio, laborum optio quas harum, pariatur distinctio
        quaerat facilis eligendi? Fuga aliquid cum aspernatur incidunt vitae
        dolor minima? Nam illo perspiciatis illum dignissimos. Doloribus omnis
        repellendus commodi ipsam fuga ipsum expedita maiores quia quod, itaque
        quaerat quidem tempora magni incidunt nam non animi! Sint ipsa quaerat
        modi quas? Fugit in natus nesciunt quisquam quasi unde, quos voluptatem,
        enim libero, quod illum mollitia ad eos iusto vero nisi labore. Nobis
        dolorum, sapiente neque sequi asperiores corporis quia veritatis! Illo!
        Mollitia similique provident nihil adipisci eligendi incidunt totam
        ipsam modi! Atque tenetur adipisci distinctio necessitatibus autem,
        consequatur veritatis impedit voluptatem eligendi voluptatum, culpa
        reprehenderit ea corrupti aliquid fuga debitis facilis! Repellat
        aperiam, corporis velit laboriosam iusto exercitationem necessitatibus
        est laborum recusandae nemo beatae ducimus voluptate harum obcaecati
        provident iure voluptatem qui laudantium aspernatur sint reiciendis
        possimus. Eum impedit tenetur fugit. Praesentium inventore soluta quas,
        dignissimos quos assumenda similique explicabo dicta necessitatibus
        corporis tempora obcaecati! Rem ut tempora nisi magni, dolorem vitae a
        veritatis ex libero quas aliquam eius, explicabo voluptatem?
        Consequuntur beatae reiciendis et aut sint temporibus magni atque
        dolorem sit rerum quaerat vitae dicta consectetur qui facilis ipsum
        animi, quos esse voluptatem dolores iure. Quo nesciunt minus ut totam.
        Quas consequuntur perspiciatis, dolorem provident architecto rem tempore
        perferendis molestias sapiente iste dignissimos suscipit sit voluptate
        aspernatur exercitationem, libero corporis minima quaerat amet explicabo
        blanditiis. Voluptatum blanditiis beatae dolor accusantium. A temporibus
        perferendis totam ipsum sunt deserunt adipisci, minus amet natus nostrum
        at similique aliquid officiis dolorum unde consequuntur quae velit.
        Voluptatibus culpa quia temporibus nam cum, quidem amet ipsa. Inventore
        voluptas quam nemo dolore impedit, architecto molestiae odit expedita
        qui id at. Natus rerum exercitationem placeat eaque repudiandae!
        Quisquam quibusdam temporibus quaerat quidem reprehenderit odio ab.
        Soluta, voluptatum unde. Dolorum, corrupti impedit officia voluptatum
        modi ex magni in vitae facilis enim nostrum doloremque atque? Officia
        ullam fuga, unde odio dolore voluptatum voluptate tempora commodi ipsam
        porro tenetur debitis animi. Commodi, laboriosam saepe fuga nihil
        mollitia veniam reprehenderit maiores nam rem iusto est velit beatae
        quis numquam explicabo amet assumenda voluptates provident id maxime
        molestiae nesciunt eum eaque voluptatum? Commodi! A adipisci optio
        commodi quibusdam! Obcaecati voluptatibus ea voluptas, at ipsam
        reiciendis atque ut dolorem, totam natus maiores tempore laboriosam
        voluptatum harum sequi amet, aliquid neque veniam dolor delectus
        laborum. Non obcaecati perspiciatis quis nam voluptates! Obcaecati quia
        odio, adipisci distinctio, similique velit labore, repudiandae quae
        deserunt nobis quis et in fugiat doloribus. Consequatur facilis dolore
        odit cumque, omnis expedita. Laboriosam labore dolore perspiciatis, quis
        consectetur velit aliquam eos deserunt sapiente rem numquam veniam
        dolorem culpa recusandae repudiandae voluptates est facilis illum
        nesciunt inventore? Tempora impedit est illo similique hic? Natus
        nostrum quae ducimus nam! Modi sit labore tempore quibusdam velit
        ducimus, iure deleniti id, quidem eos aliquam dicta cum? Unde adipisci
        exercitationem ab nisi sed laborum sit, voluptatum iusto. Beatae
        quisquam aliquam unde quae alias enim, possimus dignissimos officia,
        earum hic reiciendis ullam. Exercitationem praesentium dicta libero,
        nobis voluptatem illo nemo officia dolore nesciunt dolor iure
        necessitatibus velit ab. Distinctio, earum? Ipsa ut corporis eveniet
        beatae vitae deleniti dicta deserunt aliquid doloribus. Adipisci rem
        consequuntur, ipsum vel dolorum nihil, temporibus consequatur placeat,
        ducimus eum reprehenderit eius ratione eaque tenetur. Asperiores optio
        fugiat illo debitis qui voluptatibus pariatur libero labore officia sed
        porro saepe rerum, officiis, error suscipit distinctio nemo sunt nisi
        aliquid, consequuntur facere similique cumque. Odio, mollitia deserunt?
        Eaque quod delectus deleniti ad id, aut, assumenda unde ea libero quia
        dolore? Nostrum, ratione, laboriosam atque aliquam accusantium ea,
        corrupti dolorem quibusdam inventore alias aliquid. Incidunt accusantium
        aliquam in. Accusamus fuga ipsum non facilis assumenda doloremque optio
        sed. Aut, tempore. Quae iusto soluta, excepturi doloremque explicabo
        consequatur eius ipsum aliquid deleniti laborum eos quibusdam voluptate
        pariatur neque eaque commodi. Commodi, autem aliquam labore ipsam
        laudantium maxime voluptate mollitia in veniam harum distinctio velit
        tempora expedita sed quisquam atque id qui. Autem quidem aperiam ipsam
        tenetur sunt eius temporibus similique? Ex expedita quisquam, molestias
        mollitia ab accusamus commodi quae quis qui veniam blanditiis id natus
        illo perspiciatis officiis, possimus error culpa at odio fuga ipsam
        nobis iure dicta. Eligendi, optio. Tempora dolor cupiditate, hic quia
        tenetur, quam officia quasi vitae debitis exercitationem repudiandae nam
        commodi eum? Sunt similique ipsam ab animi illo temporibus ut suscipit
        fuga, expedita eius sint amet. Iusto at id nemo quaerat quis neque magni
        repellat minima praesentium non laboriosam architecto recusandae minus
        sed corrupti, voluptates ratione dolor? Praesentium reiciendis voluptas
        fugiat obcaecati odio ab quia dolorum! Beatae saepe fugit maiores
        adipisci, et sit officiis optio, dolorum facilis unde nemo voluptas
        voluptatem. Aliquid quos qui iusto ab sunt, nihil voluptas porro. Ut
        odit voluptatem debitis quam consequuntur. Ducimus dignissimos inventore
        ex quis? Repellat libero quod illo magni sint unde aliquid? Quam quo ab
        labore odio quis, aspernatur laborum amet sint modi voluptatem vel cum!
        Aspernatur, pariatur itaque! Asperiores accusamus mollitia veritatis
        illo eius voluptatum autem quaerat aut ab optio minus architecto eveniet
        voluptatibus esse earum alias suscipit adipisci, saepe nemo omnis
        voluptas, sapiente, iusto pariatur. Corporis, nobis. Ea excepturi nam
        officiis nostrum accusamus vel hic labore corporis ad ducimus harum
        earum porro atque pariatur explicabo laborum doloribus architecto totam,
        nihil blanditiis autem ullam laudantium perspiciatis. Nisi, deserunt.
        Animi, neque. Dicta hic at eligendi nemo incidunt laudantium dolorum,
        aliquid neque, magnam, mollitia aliquam nam nobis! Labore perspiciatis
        officia ea amet! Cumque, impedit. Doloribus quisquam quasi optio labore
        eligendi? Ipsa molestias illo ipsam doloremque quae veritatis est,
        architecto libero laboriosam placeat eaque aliquid necessitatibus non
        iste? Sapiente dolores corrupti repellendus. Accusantium sed, repellat
        delectus eius aliquam repellendus expedita commodi. Sit quas alias quia
        aut neque molestiae, dolore placeat odit dicta impedit voluptas
        voluptates sapiente voluptatum sed expedita deserunt iusto, perspiciatis
        dolor laborum fugiat ea deleniti delectus at. Amet, maxime. Distinctio
        ut optio exercitationem magni, ex provident ad vero, asperiores itaque
        eum magnam. Esse velit illo sunt optio facere odio praesentium?
        Explicabo nam deleniti quibusdam perspiciatis pariatur deserunt
        praesentium assumenda. Perferendis magni nesciunt dolores molestias,
        quisquam voluptates cupiditate enim assumenda et id consequatur dolor
        rem accusantium debitis quis dolorum quas esse. Odio eveniet harum cum
        itaque, cupiditate sunt ullam consequatur. Perferendis nobis itaque
        adipisci et fuga reprehenderit voluptatum sint atque! Adipisci omnis
        atque, mollitia facilis iure, odit deserunt dolorum nostrum itaque
        sapiente molestiae tempore reiciendis quos, quaerat ipsa temporibus
        quam? Impedit reprehenderit quos alias earum at eum? Doloremque
        recusandae suscipit ea, dolore in ab illo soluta eius magni, nesciunt
        tempore architecto modi ducimus impedit animi perferendis velit,
        praesentium nemo totam! Totam aspernatur quae eveniet esse rem,
        quibusdam dolorum consequuntur repudiandae quaerat dolores corporis quam
        earum facilis soluta quis veniam accusantium temporibus ipsa provident
        reiciendis? Quisquam laborum ex quas velit earum! Excepturi accusamus at
        earum ad sequi aperiam sed reiciendis sint quod ut neque vel assumenda
        totam, unde quibusdam velit sit deserunt ullam consequatur animi fuga
        rem rerum saepe. Sed, quae. Voluptas iusto animi necessitatibus cum
        magnam optio et aut obcaecati. In eos quo ducimus officiis fuga
        molestiae quaerat ab minus tempore odio ad veritatis doloremque at
        iusto, accusantium deleniti totam! Quia, praesentium iusto. Omnis dicta
        non dolorem recusandae cum sint quas delectus reiciendis, soluta quos?
        Quos optio eius quo enim, rerum, quasi unde, odio id explicabo quaerat
        harum reprehenderit. Tempora? Natus quae ducimus cum quia harum, ex
        accusantium sit vel beatae iusto unde quo? Quae velit molestiae nisi id
        doloribus asperiores, inventore mollitia quod illum perferendis modi
        alias itaque. Eligendi. Culpa, rem ea laboriosam labore quo vitae quasi
        est ipsam magni suscipit soluta! Dolore velit debitis tenetur.
        Voluptatibus blanditiis nemo hic dolorum atque. Adipisci vel mollitia
        accusantium eum quo possimus? Ad explicabo quae atque sequi mollitia
        rem, quidem accusamus facilis fuga laborum illum magnam, excepturi ea
        porro assumenda iste voluptas reiciendis suscipit neque! Dignissimos
        architecto doloribus voluptate, vitae nisi nemo. Necessitatibus deserunt
        distinctio commodi iste iure nemo voluptates aliquam provident molestias
        aperiam, ipsa repellendus ducimus in! Nulla esse ducimus praesentium
        quas itaque, animi ullam eveniet? Provident eos temporibus quae
        nesciunt. Ad numquam soluta sunt nemo perferendis ipsum ab neque
        aliquid, nulla cupiditate ipsa maiores minima earum, quisquam unde eaque
        officiis illo excepturi similique aperiam dolor! Unde laborum et cumque
        ullam? Nihil quidem repellat corporis vitae impedit culpa eaque nostrum
        reiciendis molestias vero debitis numquam odio sint deserunt, nemo
        distinctio modi quisquam esse eveniet libero consequuntur
        necessitatibus. Harum reiciendis quis odit! Quo minima amet quisquam in!
        Dolorum reiciendis dicta nihil delectus qui obcaecati vitae. Delectus
        sint rerum voluptate totam atque, ab dolor est qui a ducimus obcaecati
        voluptates aut dolorem itaque? Ut nostrum eos dolore beatae esse
        voluptatibus, minima sapiente impedit quisquam tempore reiciendis modi
        natus enim iure incidunt labore suscipit? Blanditiis illum sed
        temporibus qui, in ipsam nam voluptatibus tempore. Consequuntur atque
        accusamus, magnam dolorem, ea voluptas exercitationem tempore esse
        repellendus expedita modi, ducimus nemo possimus quis. Necessitatibus
        vitae magnam distinctio corrupti sunt ea soluta id dolorum vero odio!
        Illum. Eaque, consequuntur facere? Unde eveniet nemo consequatur aperiam
        illum laborum nam, temporibus, blanditiis accusantium eum eius
        voluptatem quis? Eum omnis consequuntur tempora excepturi reiciendis.
        Tempora fugiat voluptatum porro temporibus. Id? Ipsam eveniet voluptatem
        rem exercitationem saepe odio. Porro quia pariatur, soluta magni cum
        optio, eius tenetur quas ducimus autem nam vel et ipsum vitae eveniet.
        Sint eligendi minima eveniet aut. Sed est quasi deleniti adipisci
        corrupti laboriosam dolorem suscipit mollitia! Aut, aperiam fugit,
        beatae vel magni vero culpa placeat autem recusandae assumenda quasi
        dolor, harum dolore nam odit laborum sed. Nobis atque eius veritatis
        nesciunt at facilis, ducimus aspernatur. Dignissimos incidunt delectus
        aperiam laborum. Ab nemo magnam quia corporis vero explicabo
        perferendis, quis cumque ipsam at nihil accusamus iusto dolor.
      </p>
    </main>
    <script src="header.js"></script>
  </body>
</html>
